
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(172,146,131,255)
}

.header{
    margin-left: 700px;
    margin-top: 200px;
}

.activity{
    margin-top: 100px;
    margin-right: 25px;
}

#rActivity{
    border: 2px solid black ;
    width: 20%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

#clickActivity{
  margin-left: 860px;
  margin-top: 100px;
  --bg: black;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #000 0px 7px 2px, #000 0px 8px 5px;
}

button:hover {
    opacity: 1;
  }
  
button:active {
    top: 4px;
    box-shadow: black 0px 3px 2px,#000 0px 3px 5px;
  }